@media screen and (max-width:768px) {
    
    .aside-item, .main-items{
        width:90%;
    }

    /* profile */
    #profile{
        flex-direction: column;
    }

    #contacts{
        width: 100%;
    }

    /* experience */
    .exp-card{
        flex-direction: column;
    }
    .company-logo{
        width:35%;
        margin: 10px auto;
    }
    .exp-body{
        width: 100%;
        margin: auto;
    }

    /* skills */
    #skills{
        flex-direction: column;
    }

    .skill-set{
        width: 100%;
    }

    /* projects and blog */
    .project-card, .blog-card{
        flex-direction: column;
    }

    .project-body, .blog-body,
    .project-img, .blog-img{
        width: 90%;
    }

    .demo-btn, .code-btn{
        width: 100px;
        height: 40px;
        font-size: 0.7rem;
    }

    .project-details, .blog-details{
        font-size: 0.7rem;
    }

    .project-name, .blog-name{
        font-size: 1.2rem;
    }

    .project-body-item, .blog-body-item{
        margin: 10px;
    }

    .project-links, .blog-links{
        margin: 20px auto;
    }

}